{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Mapa de Dispositivos{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='core' %}">Dashboard</a>
        &rsaquo; Mapa de dispositivos
    </div>
{% endblock %}

{% block content %}

<div id="filter-container">
    <label for="type-filter">Filtrar por Tipo:</label>
    <select id="type-filter" onchange="filterDevices()" style="margin-right: 20px;">
        <option value="all">Todos</option>
        {% for type, label in device_types %}
            <option value="{{ type }}">{{ label }}</option>
        {% endfor %}
    </select>

    <label for="status-filter">Filtrar por Status Operacional:</label>
    <select id="status-filter" onchange="filterDevices()" style="margin-right: 20px;">
        <option value="all">Todos</option>
        {% for status, label in operational_statuses %}
            <option value="{{ status }}">{{ label }}</option>
        {% endfor %}
    </select>

    <label>
        <input type="checkbox" id="toggle-zones" onchange="toggleZones()" checked> Mostrar Zonas
    </label>

    <label>
        <input type="checkbox" id="toggle-devices" onchange="toggleDevices()" checked> Mostrar Dispositivos
    </label>
</div>


<div id="map-container" style="position: relative; width: 100%; height: 80vh;">
    <div id="map" style="width: 100%; height: 100%;"></div>
	
	 <div id="device-details" style="display: none;">
        <div id="device-info">Clique em um dispositivo no mapa para ver detalhes.</div>
    </div>

    <div id="coordinates" style="position: absolute; bottom: 10px; left: 80px; background-color: rgba(255, 255, 255, 0.8); padding: 5px 10px; border-radius: 4px; font-size: 14px; z-index: 999">
        Coordenadas: <span id="coords-text">Passe o mouse sobre o mapa</span>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<style>
    #filter-container {
        width: 100%;
        margin-top: -15px;
        padding: 15px 20px;
        background-color: #f1f5f9;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    #filter-container label {
        font-weight: bold;
        color: #444;
        font-size: 14px;
    }

    #filter-container select {
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #fff;
    }
    
    #map-container {
        position: relative;
    }
    
    #map {
        position: relative;
        top: 0;
        left: 0;
    }

     #device-details {
	    position: absolute;
	    top: 0px;
	    right: 0;
	    width: 25%;
	    height: calc(100% - 20px);
	    background-color: rgba(255, 255, 255, 0.95);
	    padding: 0;
	    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
	    overflow-y: auto;
	    z-index: 1000;
	    border-radius: 8px 0 0 8px;
	    transition: 0.3s ease;
	    font-family: Arial, sans-serif;
	    color: #333;
	}

	#device-header {
	    background-color: #00457A;
	    color: #fff;
	    text-align: center;
	    padding: 15px;
	    font-size: 18px;
	    font-weight: bold;
	    border-top-left-radius: 8px;
	}
	
	#device-details button {
	    background: none;
	    border: none;
	    color: #fff;
	    font-size: 18px;
	    font-weight: bold;
	    cursor: pointer;
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    transition: color 0.2s;
	}
	
	#device-details button:hover {
	    color: #ddd;
	}
	
	#device-details img {
	    width: 100%;
	    height: 300px;
	    border-radius: 0 0 8px 8px;
	    margin-bottom: 10px;
	    object-fit: cover;
	}
	
	#device-content {
	    padding: 20px;
	}
	
	#device-content p {
	    margin: 8px 0;
	    line-height: 1.4;
	    font-size: 14px;
	}
	
	#device-content p b {
	    color: #0056b3;
	}

    #order-details button {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        transition: color 0.2s;
    }

    #order-details button:hover {
        color: #ddd;
    }

    #order-details img {
	    width: 100%;
	    height: 300px;
	    border-radius: 0 0 8px 8px;
	    margin-bottom: 10px;
	    object-fit: cover;
	}
    
    #order-content {
        padding: 20px;
    }

    #order-content p {
        margin: 8px 0;
        line-height: 1.4;
        font-size: 14px;
    }

    #order-content p b {
        color: #0056b3;
    }
    
    .priority-alta {
        color: #FF5C5C;
    }
    .priority-media {
        color: #FFDB5B;
    }
    .priority-baixa {
        color: #3274A3;
    }
    .zone-label {
	    font-size: 13px;
	    font-weight: bold;
	    color: #00457A;
	    background-color: rgba(255, 255, 255, 0.8);
	    padding: 2px 6px;
	    border-radius: 4px;
	    text-align: center;
	}
</style>

<script>
    const leafletConfig = {{ leaflet_config|safe }};
    const map = L.map('map').setView(leafletConfig.DEFAULT_CENTER, leafletConfig.DEFAULT_ZOOM);

    L.tileLayer(leafletConfig.TILES, {
        attribution: leafletConfig.ATTRIBUTION_PREFIX
    }).addTo(map);

    L.control.layers({
        "OpenStreetMap": L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "Map data &copy; <a href='https://openstreetmap.org'>OpenStreetMap</a> contributors"
        }),
        "Google Satellite": L.tileLayer("https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}", {
            attribution: "Map data &copy; <a href='https://google.com'>Google Maps</a> contributors"
        }),
        "Google Maps": L.tileLayer("https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}", {
            attribution: "Map data &copy; <a href='https://google.com'>Google Maps</a> contributors"
        }),
        "Google Terrain": L.tileLayer("https://mt1.google.com/vt/lyrs=p&x={x}&y={y}&z={z}", {
            attribution: "Map data &copy; <a href='https://google.com'>Google Maps</a> contributors"
        }),
        "Google Hybrid": L.tileLayer("https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}", {
            attribution: "Map data &copy; <a href='https://google.com'>Google Maps</a> contributors"
        })
    }, null, { position: 'bottomleft' }).addTo(map);

    const geocoder = L.Control.geocoder({
        position: 'topleft',
        defaultMarkGeocode: false
    }).on('markgeocode', function(e) {
        const bbox = e.geocode.bbox;
        const poly = L.polygon([
            bbox.getSouthEast(),
            bbox.getNorthEast(),
            bbox.getNorthWest(),
            bbox.getSouthWest()
        ]).addTo(map);
        map.fitBounds(poly.getBounds());
    });

    geocoder.addTo(map);

    const devicesGeoJSON = {{ devices_geojson|safe }};
    const zonesGeoJSON = {{ zones_geojson|safe }};

    let zonesLayer = L.geoJSON(zonesGeoJSON, {
        style: function (feature) {
            return {
                color: feature.properties.boundary_color || "#3388ff",
                weight: 2,
                opacity: 0.6,
                fillColor: feature.properties.boundary_color || "#3388ff",
                fillOpacity: 0.2
            };
        },
        onEachFeature: function (feature, layer) {
            const zoneInfo = `
                <b>Zona:</b> ${feature.properties.name}<br>
                <b>Cidade:</b> ${feature.properties.city}<br>
                <b>Região:</b> ${feature.properties.region}<br>
                <b>Bairro:</b> ${feature.properties.neighborhood}<br>
                <b>Descrição:</b> ${feature.properties.description}
            `;
            layer.bindPopup(zoneInfo);

            const label = L.divIcon({
                className: 'zone-label',
                html: `<div>${feature.properties.name}</div>`,
                iconSize: [90, 20]
            });

            const bounds = layer.getBounds();
            const topLeft = bounds.getNorthWest();

            const labelMarker = L.marker(topLeft, { icon: label, interactive: false });
            layer.on('add', () => map.addLayer(labelMarker));
            layer.on('remove', () => map.removeLayer(labelMarker));
        }
    }).addTo(map);

    const icons = {
        OPERACIONAL: L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
            shadowSize: [41, 41]
        }),
        MANUTENCAO: L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
            shadowSize: [41, 41]
        }),
        FALHA: L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
            shadowSize: [41, 41]
        }),
	    DEFAULT: L.icon({
	        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png',
	        iconSize: [25, 41],
	        iconAnchor: [12, 41],
	        popupAnchor: [1, -34],
	        shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
	        shadowSize: [41, 41]
	    })
    };

    let devicesLayer;

    function showDeviceDetails(device) {
        const defaultImage = 'https://via.placeholder.com/300x200?text=Sem+Imagem';
        const imageUrl = device.device_image || defaultImage;

        document.getElementById('device-info').innerHTML = `
            <div id="device-header">Detalhes do Dispositivo</div>
            <button onclick="document.getElementById('device-details').style.display = 'none'">✕</button>
            <div id="device-content">
                <h3>Dispositivo - ${device.code}</h3>
                <p><b>Tipo:</b> ${device.type}</p>
                <p><b>Denominação Estrutural:</b> ${device.structural_name}</p>
                <p><b>Status Operacional:</b> ${device.operational_status}</p>
                <p><b>Localização:</b> ${device.address}</p>
                <p><b>Zona:</b> ${device.zone_name}</p>
                <p><b>Coordenadas:</b> ${device.location}</p>
                <p><b>Instalações Próximas:</b> ${device.nearby_installations}</p>
                <p><b>Proprietário:</b> ${device.owner}</p>
                <p><b>Altura:</b> ${device.height} m</p>
                <p><b>Material:</b> ${device.material}</p>
                <p><b>Data de Instalação:</b> ${device.installation_date}</p>
                <p><b>Data da Última Manutenção:</b> ${device.last_maintenance_date}</p>
                <p><b>Fonte de Energia:</b> ${device.energy_source}</p>
                <p><b>Recursos Adicionais:</b> ${device.additional_features || "N/A"}</p>
                <img src="${imageUrl}" alt="Imagem do Dispositivo">
            </div>
        `;
        document.getElementById('device-details').style.display = 'block';
    }

    function addDevicesToMap(type, operationalStatus) {
        if (devicesLayer) {
            map.removeLayer(devicesLayer);
        }

        devicesLayer = L.geoJSON(devicesGeoJSON, {
            filter: function (feature) {
                const matchesType = type === 'all' || feature.properties.type === type;
                const matchesStatus = operationalStatus === 'all' || feature.properties.operational_status === operationalStatus;
                return matchesType && matchesStatus;
            },
            pointToLayer: function (feature, latlng) {
                const icon = icons[feature.properties.operational_status] || icons.DEFAULT;
                return L.marker(latlng, { icon: icon });
            },
            onEachFeature: function (feature, layer) {
                const deviceData = {
                    code: feature.properties.code,
                    owner: feature.properties.owner,
                    structural_name: feature.properties.structural_name,
                    type: feature.properties.type,
                    height: feature.properties.height,
                    material: feature.properties.material,
                    installation_date: feature.properties.installation_date,
                    operational_status: feature.properties.operational_status,
                    qr_code: feature.properties.qr_code,
                    energy_source: feature.properties.energy_source,
                    zone_name: feature.properties.zone_name,
                    additional_features: feature.properties.additional_features,
                    device_image: feature.properties.device_image || null,
	                address: feature.properties.address,
	                location: `${feature.geometry.coordinates[1]}, ${feature.geometry.coordinates[0]}`,
	                nearby_installations: feature.properties.nearby_installations,
	                last_maintenance_date: feature.properties.last_maintenance_date,

                };

                layer.bindPopup(`<b>Dispositivo:</b> ${deviceData.code}<br><b>Tipo:</b> ${deviceData.type}<br><b>Status:</b> ${deviceData.operational_status}`);
                layer.on('click', function() {
                    showDeviceDetails(deviceData);
                });
            }
        }).addTo(map);
    }

    function toggleZones() {
        const checkbox = document.getElementById('toggle-zones');
        if (checkbox.checked) {
            map.addLayer(zonesLayer);
        } else {
            map.removeLayer(zonesLayer);
        }
    }

    function toggleDevices() {
        const checkbox = document.getElementById('toggle-devices');
        if (checkbox.checked) {
            addDevicesToMap('all', 'all');
        } else {
            if (devicesLayer) {
                map.removeLayer(devicesLayer);
                devicesLayer = null;
            }
        }
    }

    function filterDevices() {
        const type = document.getElementById('type-filter').value;
        const operationalStatus = document.getElementById('status-filter').value;
        addDevicesToMap(type, operationalStatus);
    }

    toggleZones();
    toggleDevices();

    map.on('mousemove', function (e) {
        const coordsText = `Lat: ${e.latlng.lat.toFixed(5)}, Lng: ${e.latlng.lng.toFixed(5)}`;
        document.getElementById('coords-text').textContent = coordsText;
    });
</script>



{% endblock %}
