{% block content %}
  <style>
	  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }
    .password-reset-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      font-family: Arial, sans-serif;
    }

    .password-reset-container h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }

    .password-reset-container button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #1B68AC;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .password-reset-container button:hover {
      background-color: #124674;
    }

    .password-reset-container input {
      width: 100%;
      padding: 8px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  </style>

  <div class="password-reset-container">
    <h2>Definir Nova Senha</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Definir Senha</button>
    </form>
  </div>
{% endblock %}
